<div class="animated fadeIn">
 <div *ngIf="!isUser()">
   <app-dashboard-oc-providers></app-dashboard-oc-providers>
 </div>
 <div *ngIf="isUser()">
    <div class="row">
      <div class="col-md-4 col-xs-12 text-center">
          <h2>Órdenes de compra</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <app-searchbox hoverText="Buscar rfc, empresa, agente..."
                          [value]="params.query"
                           (performSearch)="buscar($event)"></app-searchbox>
          </div>
          <!--<div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                De:
                <md-input-container>
                  <input mdInput [mdDatepicker]="dFrom">
                  <button mdSuffix [mdDatepickerToggle]="dFrom"></button>
                </md-input-container>
                <md-datepicker #dFrom></md-datepicker>
              </div>
              <div class="col-md-6">
                Hasta:
                <md-input-container>
                  <input mdInput [mdDatepicker]="dTo" >
                  <button mdSuffix [mdDatepickerToggle]="dTo"></button>
                </md-input-container>
                <md-datepicker #dTo [(ngModel)]="dateTo"></md-datepicker>
              </div>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div class="col-md-4">
        <h4>Incluir en búsqueda:</h4>
        <md-checkbox [(ngModel)]="checkFecha">Rango de fechas</md-checkbox>
      </div>-->
    </div>


    <table *ngIf="ocs" class="table table-responsive">
     <tr>
       <th>#</th>
       <th>RFC</th>
       <th>Nombre</th>
       <th>#Factura</th>
       <th>#OC</th>
       <th>Monto</th>
       <th>Estado</th>
       <th>Agente</th>
       <th>Fecha</th>
       <th></th>
     </tr>
     <tr *ngFor="let oc of ocs">
       <td>{{oc.id}}</td>
       <td>
         <a [routerLink]="['../../dashboard/providers', oc.providers.id, 'edit']">
           {{oc.providers.username}}
         </a>
       </td>
       <td>{{oc.providers.name}}</td>
       <td>{{oc.invoice_number}}</td>
       <td><a (click)="showFile(oc.oc_path, true)" [routerLink]="['.']">{{oc.porder_number}}</a></td>
       <td>{{oc.amount | currency:'USD':true:'1.2-2'}}</td>
       <td>
         <div [ngSwitch]="oc.status">
           <div *ngSwitchCase="'Válido'">
             <button (click)="finalizar(oc)"
                     class="btn btn-sm btn-primary" type="button">
                     Finalizar
             </button>
           </div>
           <div *ngSwitchDefault>{{ oc.status }}</div>
         </div>
       </td>
       <td>
         <a [routerLink]="['../../dashboard/users', oc.users.id, 'edit']">
           {{oc.users.name}}
         </a>
       </td>
       <td>{{ setDate(oc.created_at) | date:'dd MMM yyyy, HH:mm'}}</td>
       <td>
         <div class="row">
           <div class="col-md-12">
             <button [routerLink]="['../../dashboard/providers',oc.user_id,'edit-oc',oc.id]"
                     type="button" class="btn btn-primary btn-sm">
               <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
               Editar
             </button>
             <button (click)="borrar(oc.id)"
               type="button" class="btn btn-danger btn-sm">
               <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
               Borrar
             </button>
             <a *ngIf="oc.download_path" [routerLink]="'/' + oc.download_path">
               descargar
             </a>
             <button *ngIf="oc.files?.pdf_path" (click)="showFile(oc, true)"
               type="button" class="btn btn-success btn-sm">
               <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
               PDF
             </button>
             <button *ngIf="oc.files?.xml_path" (click)="showFile(oc, false)"
               type="button" class="btn btn-success btn-sm">
               <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                XML
             </button>
           </div>
         </div>
       </td>
     </tr>
    </table>

    <app-paginator [count]="resultCount" [resultsPerPage]="params.to"></app-paginator>
  </div>

</div>
