<div class="wrapper" [ngClass]="{'form-success':isLogging}">
	<div class="container">
		<h1>{{headerText()}}</h1>

    <button *ngIf="error" (click)="error=false"
            type="button" class="btn btn-danger btn-sm">
        {{ errorMsg }}
        <i class="fa fa-times"></i>
    </button>

		<form (ngSubmit)="login(form)" novalidate="" #form="ngForm"
      class="form" [style.display]="displayForm" [ngClass]="{'step': isLogging}">
			<input appSelectOnClick
             type="text"
             placeholder="Usuario"
             name="user"
             [(ngModel)]="usuario.user"
             required
              >
			<input appSelectOnClick
						 type="password"
						 placeholder="Contraseña"
						 name="secret"
             [(ngModel)]="usuario.pass"
             required>
			<button type="submit">Ingresar</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
