<div class="animated fadeIn">
  <h1>Crear usuario</h1>

  <div class="form-top">

    <md-input-container>
      <input mdInput name="name"
            placeholder="Nombre" value="">
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput name="password"
            placeholder="Contraseña" value="">
    </md-input-container>
    <br><br>

    <md-select *ngIf="roles" [(ngModel)]="rolSelected"
               name="rol" placeholder="Rol">
      <md-option *ngFor="let rol of roles" [value]="rol?.id">
        {{ rol?.description }}
      </md-option>
    </md-select>
    <br><br><br>
    <md-select *ngIf="kinds" [(ngModel)]="kindSelected"
               name="kind" placeholder="Tipo de usuario">
      <md-option *ngFor="let kind of kinds" [value]="kind?.key">
        {{ kind?.value }}
      </md-option>
    </md-select>

    <br><br><br>

  </div>

  <!-- Botones de acción -->
  <div class="form-submit">
    <div class="pull-right">
      <button [routerLink]="['/dashboard/users']"
        class="btn btn-success"
        type="button">
        <i class="fa fa-chevron-left"></i>
        Volver
      </button>
      <button class="btn btn-primary"
        type="button">
        Guardar
        <i class="fa fa-save"></i>
      </button>
    </div>
  </div>
</div>
