<div class="animated fadeIn">
  <h1>Editar usuario</h1>

  <form [formGroup]="forma" class="form form-top">

    <md-input-container class="input-style">
      <input mdInput
             readonly="true"
             formControlName="username"
             placeholder="*Nombre de usuario"
             >
      <span mdSuffix><i [ngClass]="{'fa fa-circle-o-notch fa-spin': forma.controls['username'].status.toLowerCase() == 'pending'}"></i></span>
      <md-error *ngIf="forma.controls['username'].errors?.required">
        El nombre de usuario es requerido.
      </md-error>
      <md-error *ngIf="forma.controls['username'].errors?.existe">
        El nombre de usuario ya existe.
      </md-error>
    </md-input-container>

    <md-input-container class="input-style">
      <input mdInput
             formControlName="email"
             placeholder="*Email"
             >
      <span mdSuffix><i [ngClass]="{'fa fa-circle-o-notch fa-spin': forma.controls['email'].status.toLowerCase() == 'pending'}"></i></span>
      <md-error *ngIf="forma.controls['email'].errors?.pattern">
        Ingresa un correo válido.
      </md-error>
      <md-error *ngIf="forma.controls['email'].errors?.existe">
        El correo ya existe.
      </md-error>
    </md-input-container>

    <md-input-container class="input-style">
      <input mdInput
             formControlName="password"
             type="password"
             placeholder="*Contraseña">

       <md-hint align="start">Símbolos permitidos: . ? ! $ # @ _ -</md-hint>
       <md-error *ngIf="forma.controls['password'].errors?.required">
        La contraseña es requerida.
       </md-error>
       <md-error *ngIf="forma.controls['password'].errors?.pattern">
        La contraseña contiene caracteres no válidos.
       </md-error>
       <md-error *ngIf="forma.controls['password'].errors?.minlength">
        La contraseña debe contener por lo menos 6 caracteres.
       </md-error>
    </md-input-container>
    <md-input-container class="input-style">
      <input mdInput
             formControlName="password_repeat"
             type="password"
             placeholder="*Repetir contraseña">
       <md-error *ngIf="forma.controls['password_repeat'].errors?.notEqual ||
                        forma.controls['password'].errors?.notEqual">
        Las contraseñas no son iguales.
       </md-error>
    </md-input-container>

    <md-input-container class="input-style">
      <input mdInput
             formControlName="name"
             placeholder="*Nombre completo">
       <md-error *ngIf="forma.controls['name'].errors?.required">
        El nombre es requerido.
       </md-error>
       <md-error *ngIf="forma.controls['name'].errors?.pattern">
        Se necesitan entre 2 y 4 palabras.
       </md-error>
    </md-input-container>

    <md-select class="input-style selector-style"
               formControlName="role_id"
               placeholder="*Rol">
      <md-option *ngFor="let rol of roles" [value]="rol.id">
        {{ rol.description }}
      </md-option>
    </md-select>

  </form>

  <!-- Botones de acción -->
  <div class="form-submit">
    <div class="pull-right">

      <button [routerLink]="['/dashboard/users']"
              class="btn btn-success"
              type="button">
        <i class="fa fa-chevron-left"></i>
        Volver
      </button>

      <button (click)="save(forma)"
              class="btn btn-primary"
              type="button"
              [disabled]="!forma.valid">
        Guardar
        <i class="fa" [ngClass]="{'fa-save':!saving, 'fa-refresh fa-spin':saving}"></i>
      </button>

    </div>
  </div>
</div>
