<div class="animated fadeIn">
  <h2>Inicio</h2>
  <br>
  <div *ngIf="isUser()">
    <md-card>
      <md-card-header>
        <md-card-title>Reportes del sistema</md-card-title>
      </md-card-header>
      <button (click)="test()" md-raised-button>Pendientes de pago</button>
      <button (click)="test()" md-raised-button>Pagados</button>
      <button (click)="test()" md-raised-button>Órdenes de compra</button>
    </md-card>
    <br>
    <div class="row">
      <div class="col-md-6 text-center">
        <md-card>
          <h3>Datos de muestra</h3>
          <app-donnut></app-donnut>
        </md-card>
      </div>
      <div class="col-md-6 text-center">
        <md-card>
          <h3>Datos de muestra</h3>
          <app-donnut></app-donnut>
        </md-card>
      </div>
    </div>
  </div>



</div>
